* {
    margin: 0;
    padding: 0;
  }
  .main {
    width: 400px;
    background-color: #f2f2f2;
    margin: 60px auto 0 auto;
    padding: 40px;
  }
  h2 {
    color: rgb(38, 0, 255);
    text-align: center;
  }
  table {
    border-collapse: collapse;
  }
  th {
    background-color: burlywood;
    border: 1px solid #000;
    width: 120px;
    height: 40px;
  }
  td {
    border: 1px solid #000;
    width: 260px;
    padding: 0px 20px 0px 20px;
  }
  a {
    float: right;
  }